@import "compass/css3";
 *, *:before, *:after {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 html, body {
	 font-size: 62.5%;
	 height: 100%;
	 overflow: hidden;
}
 @media (max-width: 768px) {
	 html, body {
		 font-size: 50%;
	}
}
 svg {
	 display: inline-block;
	 width: 2rem;
	 height: 2rem;
	 overflow: visible;
}
 .svg-icon {
	 cursor: pointer;
}
 .svg-icon path {
	 stroke: rgba(255, 255, 255, 0.9);
	 fill: none;
	 stroke-width: 1;
}
 input, button {
	 outline: none;
	 border: none;
}
 .cont {
	 position: relative;
	 height: 100%;
	 background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg');
	 background-size: cover;
	 overflow: auto;
	 font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
 .demo {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-left: -15rem;
	 margin-top: -26.5rem;
	 width: 30rem;
	 height: 53rem;
	 overflow: hidden;
}
 .login {
	 position: relative;
	 height: 100%;
	 background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
	 transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
	 transform: scale(1);
}
 .login.inactive {
	 opacity: 0;
	 transform: scale(1.1);
}
 .login__check {
	 position: absolute;
	 top: 16rem;
	 left: 13.5rem;
	 width: 14rem;
	 height: 2.8rem;
	 background: #fff;
	 transform-origin: 0 100%;
	 transform: rotate(-45deg);
}
 .login__check:before {
	 content: "";
	 position: absolute;
	 left: 0;
	 bottom: 100%;
	 width: 2.8rem;
	 height: 5.2rem;
	 background: #fff;
	 box-shadow: inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);
}
 .login__form {
	 position: absolute;
	 top: 50%;
	 left: 0;
	 width: 100%;
	 height: 50%;
	 padding: 1.5rem 2.5rem;
	 text-align: center;
}
 .login__row {
	 height: 5rem;
	 padding-top: 1rem;
	 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
 .login__icon {
	 margin-bottom: -0.4rem;
	 margin-right: 0.5rem;
}
 .login__icon.name path {
	 stroke-dasharray: 73.5019607544;
	 stroke-dashoffset: 73.5019607544;
	 animation: animatePath 2s 0.5s forwards;
}
 .login__icon.pass path {
	 stroke-dasharray: 92.106628418;
	 stroke-dashoffset: 92.106628418;
	 animation: animatePath 2s 0.5s forwards;
}
 .login__input {
	 display: inline-block;
	 width: 22rem;
	 height: 100%;
	 padding-left: 1.5rem;
	 font-size: 1.5rem;
	 background: transparent;
	 color: #fdfcfd;
}
 .login__submit {
	 position: relative;
	 width: 100%;
	 height: 4rem;
	 margin: 5rem 0 2.2rem;
	 color: rgba(255, 255, 255, 0.8);
	 background: #f36;
	 font-size: 1.5rem;
	 border-radius: 3rem;
	 cursor: pointer;
	 overflow: hidden;
	 transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
 .login__submit:after {
	 content: "";
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-left: -1.5rem;
	 margin-top: -1.5rem;
	 width: 3rem;
	 height: 3rem;
	 border: 2px dotted #fff;
	 border-radius: 50%;
	 border-left: none;
	 border-bottom: none;
	 transition: opacity 0.1s 0.4s;
	 opacity: 0;
}
 .login__submit.processing {
	 width: 4rem;
	 font-size: 0;
}
 .login__submit.processing:after {
	 opacity: 1;
	 animation: rotate 0.5s 0.4s infinite linear;
}
 .login__submit.success {
	 transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
	 transform: scale(30);
	 opacity: 0.9;
}
 .login__submit.success:after {
	 transition: opacity 0.1s 0s;
	 opacity: 0;
	 animation: none;
}
 .login__signup {
	 font-size: 1.2rem;
	 color: #aba8ae;
}
 .login__signup a {
	 color: #fff;
	 cursor: pointer;
}
 .app {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 opacity: 0;
	 display: none;
	 transition: opacity 0.1s, transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
	 transform: scale(1.2);
}
 .app.active {
	 opacity: 1;
	 transform: scale(1);
}
 .app.active .app__user-photo {
	 transform: scale(1);
}
 .app.active .app__meeting {
	 transform: translateY(0);
	 opacity: 1;
}
 .app.active .app__logout {
	 transform: scale(1);
}
 .app__top {
	 position: relative;
	 height: 28rem;
	 background: rgba(0, 0, 0, 0.5);
	 padding: 6rem 1.5rem 2rem;
	 text-align: center;
}
 .app__bot {
	 position: relative;
	 height: 25rem;
	 background: #fff;
}
 .app__menu-btn {
	 position: absolute;
	 top: 2rem;
	 left: 1.5rem;
	 width: 1.8rem;
	 height: 1.7rem;
	 cursor: pointer;
}
 .app__menu-btn span, .app__menu-btn:before, .app__menu-btn:after {
	 position: absolute;
	 left: 0;
	 width: 100%;
	 height: 1px;
	 background: rgba(255, 255, 255, 0.6);
}
 .app__menu-btn span {
	 top: 0.8rem;
}
 .app__menu-btn:before {
	 content: "";
	 top: 0;
}
 .app__menu-btn:after {
	 content: "";
	 bottom: 0;
}
 .app__icon {
	 position: absolute;
	 top: 2rem;
}
 .app__icon.search {
	 right: 1.5rem;
	 stroke-dasharray: 61.8471374512;
	 stroke-dashoffset: 61.8471374512;
	 animation: animatePath 0.5s 0.5s forwards;
}
 .app__hello {
	 font-size: 2.2rem;
	 color: #fff;
	 font-weight: normal;
	 margin-bottom: 3rem;
}
 .app__user {
	 position: relative;
	 display: inline-block;
	 width: 9rem;
	 height: 9rem;
	 margin-bottom: 3rem;
}
 .app__user-photo {
	 width: 100%;
	 height: 100%;
	 border-radius: 50%;
	 transition: transform 0.3s 0.2s cubic-bezier(0.62, 0.35, 0.56, 1.55);
	 transform: scale(0);
}
 .app__user-notif {
	 position: absolute;
	 top: 0;
	 right: 0;
	 width: 3rem;
	 height: 3rem;
	 border-radius: 50%;
	 line-height: 3rem;
	 text-align: center;
	 background: #50d2c2;
	 color: #fff;
	 font-size: 1.5rem;
}
 .app__month:after {
	 content: "";
	 display: table;
	 clear: both;
}
 .app__month-name {
	 display: inline-block;
	 color: rgba(255, 255, 255, 0.6);
	 font-size: 1.2rem;
	 text-transform: uppercase;
}
 .app__month-btn {
	 display: inline-block;
	 width: 1.2rem;
	 height: 1.2rem;
	 border: 1px solid rgba(255, 255, 255, 0.6);
	 border-left: none;
	 border-bottom: none;
	 cursor: pointer;
}
 .app__month-btn.left {
	 float: left;
	 transform: rotate(-135deg);
}
 .app__month-btn.right {
	 float: right;
	 transform: rotate(45deg);
}
 .app__days {
	 height: 7rem;
	 padding: 1.5rem 2rem;
	 display: flex;
	 justify-content: space-between;
	 flex-wrap: wrap;
}
 .app__day {
	 width: 14%;
	 text-align: center;
	 font-size: 1.2rem;
}
 .app__day.weekday {
	 color: #919197;
	 text-transform: uppercase;
}
 .app__day.date {
	 font-size: 1.2rem;
	 font-weight: bold;
	 color: #3c3c43;
}
 .app__meeting {
	 position: relative;
	 height: 6rem;
	 border-top: 1px solid #eeeeef;
	 padding: 1rem 2rem 1rem 7.5rem;
	 transition: transform 0.3s, opacity 0.3s;
	 transform: translateY(-50%);
	 opacity: 0;
}
 .app__meeting:nth-child(1) {
	 transition-delay: 0.2s;
}
 .app__meeting:nth-child(2) {
	 transition-delay: 0.3s;
}
 .app__meeting:nth-child(3) {
	 transition-delay: 0.4s;
}
 .app__meeting:nth-child(4) {
	 transition-delay: 0.5s;
}
 .app__meeting:nth-child(5) {
	 transition-delay: 0.6s;
}
 .app__meeting-photo {
	 position: absolute;
	 left: 2rem;
	 top: 1rem;
	 width: 4rem;
	 height: 4rem;
}
 .app__meeting-name {
	 color: #000;
	 font-size: 1.3rem;
}
 .app__meeting-info {
	 color: #949498;
	 font-size: 1.1rem;
}
 .app__logout {
	 position: absolute;
	 bottom: 3.3rem;
	 right: 3.3rem;
	 width: 4.6rem;
	 height: 4.6rem;
	 margin-right: -2.3rem;
	 margin-bottom: -2.3rem;
	 background: #fc3768;
	 color: #fff;
	 font-size: 2rem;
	 border-radius: 50%;
	 cursor: pointer;
	 transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s;
	 transform: scale(0);
}
 .app__logout.clicked {
	 bottom: 50%;
	 right: 50%;
	 transform: scale(30) !important;
	 opacity: 0.9;
}
 .app__logout.clicked svg {
	 opacity: 0;
}
 .app__logout-icon {
	 position: absolute;
	 width: 3rem;
	 height: 3rem;
	 top: 50%;
	 left: 50%;
	 margin-left: -1.5rem;
	 margin-top: -1.5rem;
	 transition: opacity 0.1s;
}
 .app__logout-icon path {
	 stroke-width: 4px;
	 stroke-dasharray: 64.3623504639;
	 stroke-dashoffset: 64.3623504639;
	 animation: animatePath 0.5s 0.5s forwards;
}
 .ripple {
	 position: absolute;
	 width: 15rem;
	 height: 15rem;
	 margin-left: -7.5rem;
	 margin-top: -7.5rem;
	 background: rgba(0, 0, 0, 0.4);
	 transform: scale(0);
	 animation: animRipple 0.4s;
	 border-radius: 50%;
}
 @keyframes animRipple {
	 to {
		 transform: scale(3.5);
		 opacity: 0;
	}
}
 @keyframes rotate {
	 to {
		 transform: rotate(360deg);
	}
}
 @keyframes animatePath {
	 to {
		 stroke-dashoffset: 0;
	}
}
 
* {
	font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 0;
  }
  
  html, body {
	height: 100vh;
	width: 100vw;
	margin: 0 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	background: #f3f2f2;
  }
  
  h4 {
	font-size: 24px;
	font-weight: 600;
	color: #000;
	opacity: 0.85;
  }
  
  label {
	font-size: 12.5px;
	color: #000;
	opacity: 0.8;
	font-weight: 400;
  }
  
  form {
	padding: 40px 30px;
	background: #fefefe;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 20px;
	width: 300px;
  }
  form h4 {
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 0.5);
  }
  form h4 span {
	color: black;
	font-weight: 700;
  }
  form p {
	line-height: 155%;
	margin-bottom: 5px;
	font-size: 14px;
	color: #000;
	opacity: 0.65;
	font-weight: 400;
	max-width: 200px;
	margin-bottom: 40px;
  }
  
  a.discrete {
	color: rgba(0, 0, 0, 0.4);
	font-size: 14px;
	border-bottom: solid 1px rgba(0, 0, 0, 0);
	padding-bottom: 4px;
	margin-left: auto;
	font-weight: 300;
	transition: all 0.3s ease;
	margin-top: 40px;
  }
  a.discrete:hover {
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }
  
  button {
	-webkit-appearance: none;
	width: auto;
	min-width: 100px;
	border-radius: 24px;
	text-align: center;
	padding: 15px 40px;
	margin-top: 5px;
	background-color: #b08bf8;
	color: #fff;
	font-size: 14px;
	margin-left: auto;
	font-weight: 500;
	box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
	border: none;
	transition: all 0.3s ease;
	outline: 0;
  }
  button:hover {
	transform: translateY(-3px);
	box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
  }
  button:hover:active {
	transform: scale(0.99);
  }
  
  input {
	font-size: 16px;
	padding: 20px 0px;
	height: 56px;
	border: none;
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	background: #fff;
	width: 280px;
	box-sizing: border-box;
	transition: all 0.3s linear;
	color: #000;
	font-weight: 400;
	-webkit-appearance: none;
  }
  input:focus {
	border-bottom: solid 1px #b69de6;
	outline: 0;
	box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
  }
  
  .floating-label {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
  }
  .floating-label label {
	position: absolute;
	top: calc(50% - 7px);
	left: 0;
	opacity: 0;
	transition: all 0.3s ease;
	padding-left: 44px;
  }
  .floating-label input {
	width: calc(100% - 44px);
	margin-left: auto;
	display: flex;
  }
  .floating-label .icon {
	position: absolute;
	top: 0;
	left: 0;
	height: 56px;
	width: 44px;
	display: flex;
  }
  .floating-label .icon svg {
	height: 30px;
	width: 30px;
	margin: auto;
	opacity: 0.15;
	transition: all 0.3s ease;
  }
  .floating-label .icon svg path {
	transition: all 0.3s ease;
  }
  .floating-label input:not(:-moz-placeholder-shown) {
	padding: 28px 0px 12px 0px;
  }
  .floating-label input:not(:-ms-input-placeholder) {
	padding: 28px 0px 12px 0px;
  }
  .floating-label input:not(:placeholder-shown) {
	padding: 28px 0px 12px 0px;
  }
  .floating-label input:not(:-moz-placeholder-shown) + label {
	transform: translateY(-10px);
	opacity: 0.7;
  }
  .floating-label input:not(:-ms-input-placeholder) + label {
	transform: translateY(-10px);
	opacity: 0.7;
  }
  .floating-label input:not(:placeholder-shown) + label {
	transform: translateY(-10px);
	opacity: 0.7;
  }
  .floating-label input:valid:not(:-moz-placeholder-shown) + label + .icon svg {
	opacity: 1;
  }
  .floating-label input:valid:not(:-ms-input-placeholder) + label + .icon svg {
	opacity: 1;
  }
  .floating-label input:valid:not(:placeholder-shown) + label + .icon svg {
	opacity: 1;
  }
  .floating-label input:valid:not(:-moz-placeholder-shown) + label + .icon svg path {
	fill: #b69de6;
  }
  .floating-label input:valid:not(:-ms-input-placeholder) + label + .icon svg path {
	fill: #b69de6;
  }
  .floating-label input:valid:not(:placeholder-shown) + label + .icon svg path {
	fill: #b69de6;
  }
  .floating-label input:not(:valid):not(:focus) + label + .icon {
	-webkit-animation-name: shake-shake;
			animation-name: shake-shake;
	-webkit-animation-duration: 0.3s;
			animation-duration: 0.3s;
  }
  
  @-webkit-keyframes shake-shake {
	0% {
	  transform: translateX(-3px);
	}
	20% {
	  transform: translateX(3px);
	}
	40% {
	  transform: translateX(-3px);
	}
	60% {
	  transform: translateX(3px);
	}
	80% {
	  transform: translateX(-3px);
	}
	100% {
	  transform: translateX(0px);
	}
  }
  
  @keyframes shake-shake {
	0% {
	  transform: translateX(-3px);
	}
	20% {
	  transform: translateX(3px);
	}
	40% {
	  transform: translateX(-3px);
	}
	60% {
	  transform: translateX(3px);
	}
	80% {
	  transform: translateX(-3px);
	}
	100% {
	  transform: translateX(0px);
	}
  }
  .session {
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
	margin: auto auto;
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);
  }
  
  .left {
	width: 220px;
	height: auto;
	min-height: 100%;
	position: relative;
	background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
  }
  .left svg {
	height: 40px;
	width: auto;
	margin: 20px;
  }