.login-container {
  background-image: url('your-image-url.jpg'); /* Replace 'your-image-url.jpg' with your actual image URL */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5; /* Adjust the opacity value as needed */
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-form input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}
