* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient( -25deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8d 100%);
    filter: hue-rotate(120deg);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.box {
    position: relative;
    padding: 50px;
    width: 360px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.box::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 15%, transparent 50%, transparent 85%, rgba(255, 255, 255, 0.3) 100%);
}

.box .form {
    position: relative;
    width: 100%;
}

.box .form h2 {
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.box .form .inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.box .form .inputBx input {
    width: 100%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 8px 10px;
    padding-left: 35px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
}

.box .form .inputBx input ::placeholder {
    color: white;
}

.box .form .inputBx input[type="submit"] {
    background: white;
    color: black;
    max-width: 150px;
    padding: 8px 24px;
    box-shadow: none;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 16px;
}

.box .form .inputBx input[type="submit"]:disabled {
    background: rgb(175, 175, 175);
    color: rgb(116, 116, 116);
    font-weight: 300;
    letter-spacing: 1px;
    cursor: not-allowed;
    font-size: 14px;
}

.box .form .inputBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: scale(0.7);
    filter: invert(1);
}

.remeber {
    position: relative;
    display: inline-block;
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
    cursor: pointer;
}

.box .form p {
    color: white;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}

.box .form a {
    color: white;
}

.box .form a:hover {
    color: purple;
}

@media screen and (max-width: 400px) {
    .box {
        padding: 20px;
        width: 310px;
        height: 420px;
    }
}