
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
     background: linear-gradient(to left, #275ab9, #d6429d);
}

.internaldiv {
    margin-bottom: 20px;
    border: none;
    opacity: 0.9;

}

.box {
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

@media screen and (min-width: 100px) and (max-width: 500px){

    .row {
        flex-direction: column;
      }
    
    .box {
    width: 260px;
    padding: 5px;
    top: 10%;
    left: 15%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 10px
    }
    
  }
 
  
  @media screen and (min-width: 500px) and (max-width: 700px) {
    .row {
      flex-direction: column;
    }

    .internaldiv{
        border-right: 0px;
         height: 650px;
         width: 40%;
    }
    
    .box {
    width: 300px;
    padding: 10px;
    top: 20%;
    left: 20%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 20px
    }

    }
