*{
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: Corbel ;
 }
 
 .hero{
      height: 100%;
      width: 100%;
      background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../images/bg-01.png");
      background-position: center;
      background-size: cover;
      position: absolute;
 }
 
 .form-box{
       height: 480px;
       width: 380px;
       position: relative;
       margin: 6% auto;
       border-radius: 30px;
       box-shadow: 0 0 20px 9px #00000086;
       background: #fff;
       padding: 5px;
       overflow: hidden;
 }
    
 .button-box{
        width: 220px;
        margin: 35px auto;  
        position: relative;
        box-shadow: 0 0 20px 9px #db000073;
        border-radius: 30px;
 }
 
 .toggle-btn{
         padding: 10px 30px;
         cursor: pointer;
         background: transparent;
         border: 0;
         outline: none;
         position: relative;
 }
 
 #btn{
         top: 0;
         left: 0;
         position: absolute;
         width: 110px;
         height: 100%;
         background: linear-gradient(to right, #830000,#ff1717);
         border-radius: 30px;
         transition: .5s;
 }
 
 .social-icons{
          margin: 30px;
          text-align: center;
 }
 
 .social-icons img{
          width: 30px;
          margin: 0 12px;
          box-shadow: 0 0 20px 0 #7f7f7f3d;
          cursor: pointer;
          border-radius: 50%;
 }
 
 .input-group{
       top: 180px;
       position: absolute;
       width: 280px;
       transition: .5s;
 }
 
 .input-feild{
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
 }
 
 .submit-btn{
 width: 85%;
 padding: 10px 30px;
 cursor: pointer;
 display: block;
 margin: auto;
 background: linear-gradient(to right, #830000,#ff1717);
 border: 0;
 outline: none;
 border-radius: 30px;
 }
 
 
 .chech-box{
        margin: 30px 10px 30px 0;
 }
 
 .span{
        color: #777;
        font-size: 12px;
        bottom: 68px;
        position: absolute;
 }
 
 #login{
       left: 50px;
 }
 
 #register{
        left: 450px;
 }
