 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
 body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: bisque;
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 5rem;


        background-image: url('./bg-img.jpg');
        background-repeat: no-repeat;
      
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

 



.register {
    width: 400px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 1rem;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 430px;
}

.register:before {
	width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(2px);
}

.register > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.register > .button {
    background: #270036;
    border: 1px solid #20003a;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 6400px) {


    
    .register h1{
        color: #fff;
    }

    a{
        color: #fff;
    }
  }